BASE_IMAGE_URL=http://artifactory-slc.oraclecorp.com/artifactory/compute-images-base-local/com/oracle/opc/compute-images/OL_6.4_UEK4_x64/1.3.0-20160828/OL_6.4_UEK4_x64-1.3.0-20160828.tar.gz

NIMBULA_API_CUSTOMER=imagepipeline
NIMBULA_API_USER=/${NIMBULA_API_CUSTOMER}/administrator
NIMBULA_API_PASSWORD=MachineImage
API_PASSWORDFILE=/home/weiliang/sitecpass
IMAGE_PIPELINE_CONTAINER_URL=https://storage.oraclecorp.com/v1/Storage-computeimages/${NIMBULA_API_CUSTOMER}

NIMBULA_API_ADD_MACHINEIMAGE_ACCOUNT=/${NIMBULA_API_CUSTOMER}/cloud_storage
MACHINE_IMAGES_FOLDER=${NIMBULA_API_CUSTOMER}/machine_images


